/*
rdm-triage
Copyright (C) 2018-2020  GW4 Open Research Working Group

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-size: 62.5%; /* sets 1rem = 10pt */
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

/* General typography */

h1, h2, h3, h4, h5, h6 {
    clear: both;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}
h1 {
    font-size: 42px;
    font-size: 4.2rem;
    font-weight: 300;
}
h2 {
    font-size: 26px;
    font-size: 2.6rem;
    font-weight: 300;
}
h3 {
    font-size: 24px;
    font-size: 2.4rem;
}
h4 {
    font-size: 18px;
    font-size: 1.8rem;
}
h5, h6 {
    font-size: 14px;
    font-size: 1.4rem;
}
p {
    margin-bottom: 1.5em;
}
b,
strong {
    font-weight: bold;
}
dfn,
cite,
em,
i {
    font-style: italic;
}
blockquote {
    margin: 0 1.5em;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: #eee;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}
small {
    font-size: 75%;
}
big {
    font-size: 125%;
}
a {
    color: #ee283c;
}
a:visited {
    color: #ee283c;
}
a:hover,
a:focus,
a:active {
    color: #ee283c;
}
ul,
ol {
    margin: 0 0 1.5em 3em;
}
ul {
    list-style: url('arrow_button.svg') disc;
}
ul ul {
    list-style: square;
    list-style-type: "–  ";
}
ul ul ul {
    list-style: circle;
    list-style-type: "·  ";
}
ol {
    list-style: decimal;
}
ol ol {
    list-style: lower-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
img {
    height: auto;
    max-width: 100%;
}

/* GW4 branding */

.site-header {
    background: #FFF;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.site-title {
    background: url('http://gw4.ac.uk/wp-content/uploads/2017/10/GW4-logo_RGB.svg') top left no-repeat;
    text-indent: -9999px;
    height: 64px;
    max-width: 740px;
    margin: 0px auto;
}
.site-title a {
    height: 85px;
    width: 147px;
    display: block;
    color: #FFF;
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    background: #f9f9f9;
    color: #333;
}
nav {
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 88px;
    left: 0px;
    width: 100%;
    font-size: smaller;
    text-align: center;
}
nav ul {
    padding: 8px 0px;
    margin: 0px auto;
    max-width: 700px;
    text-align: left;
}
nav li {
    display: inline-block;
    padding: 0px 20px;
}
nav li a, nav li a.squiffy-link, nav li a.squiffy-header-link {
    color: #fff;
    text-decoration: none;
}
.site-footer {
    background: #f9f9f9;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
#copyright {
    margin-bottom: 16px;
}
#partners img {
    max-width: 112px;
    max-height: 80px;
    margin: 0px 16px;
    vertical-align: middle;
}
/* Squiffy specific */

@media not speech {
  a[href^=http]:after {
      font-family: 'FontAwesome';
      font-size: 80%;
      text-decoration: none;
      color: gray;
      content: '\00a0\f08e';
  }
  .site-footer a[href^=http]:after {
      content: '';
  }
  a[href^=mailto]:after {
      font-family: 'FontAwesome';
      font-size: 80%;
      text-decoration: none;
      color: gray;
      content: '\00a0\f003';
  }
  .site-footer a[href^=mailto]:after {
      content: '';
  }
  a.link-section:after {
      font-family: 'FontAwesome';
      font-size: 80%;
      text-decoration: none;
      color: gray;
      content: '\00a0\f0a4';
  }
  nav a.link-section:after {
      content: '';
  }
}
@media speech {
  a[href^=http]:after {
      content: ' (external link)';
  }
  .site-footer a[href^=http]:after {
      content: '';
  }
  a[href^=mailto]:after {
      content: ' (email link)';
  }
  .site-footer a[href^=mailto]:after {
      content: '';
  }
  a.link-section:after {
      content: ' (new screen)';
  }
  nav a.link-section:after {
      content: '';
  }
}
a.squiffy-link {
    text-decoration: underline;
    cursor: pointer;
}
a.squiffy-link.disabled {
    text-decoration: inherit;
    color: inherit !important;
    cursor: inherit;
}
a.squiffy-header-link {
    text-decoration: underline;
    cursor: pointer;
}
div#squiffy-container {
    background-image: url('gw4_2016_bg.svg');
    background-size: 150% auto;
    background-position: 98% 0px;
    background-color: #e2dfda;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}
div#squiffy-header {
    font-size: 14px;
    font-size: 1.4rem;
    max-width: 700px;
    position: relative;
    top: -20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
div#squiffy {
    background: #FFF;
    border-radius: 0px 20px 20px 0px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 18px;
    font-size: 1.8rem;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 16px; margin-bottom: 16px;
}
